option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: "/public"
  aws:elasticbeanstalk:application:environment:
    DB_CONNECTION: 'mysql'
    DB_HOST: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "RDS_HOSTNAME", "DefaultValue": "db"}}`'
    DB_PORT: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "RDS_PORT", "DefaultValue": "3306"}}`'
    DB_DATABASE: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "RDS_DB_NAME", "DefaultValue": "laravel"}}`'
    DB_USERNAME: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "RDS_USERNAME", "DefaultValue": "sail"}}`'
    DB_PASSWORD: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "RDS_PASSWORD", "DefaultValue": "password"}}`'
